<div class="container menu-principal">
  <div class="row text-center">
    <div class="col-lg-4 ">
      <a routerLink="/personas">
        <i class="fas fa-user-alt-slash fa-7x "></i>
        <h2>Personas</h2>
      </a>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="fas fa-film fa-7x"></i>
      <h2>Peliculas</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 ">
      <i class="fas fa-globe fa-7x"></i>
      <h2>Planetas</h2>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

