<h3 style="position:absolute; top: 30px; left:20px;">
    <a (click)="back()" style="cursor: pointer">
        <i class="fas fa-angle-left fa-1x"></i>
        <i class="fas fa-user-alt-slash "></i>
        <label><span>&nbsp;Personas</span></label>
    </a>
</h3>
<div *ngIf="!errorApi"  style="left:20px;" class="classGridgeneral">
    <ag-grid-angular style="width: 1500px; height: 360px;" class="ag-theme-balham" [rowData]="(rowData?.results)" [columnDefs]="columnDefs" rowSelection="multiple" [pagination]="true" [defaultColDef]="defaultColDef">
    </ag-grid-angular>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
<!--      <li class="page-item">-->
<!--&lt;!&ndash;        <a class="page-link" href="#" aria-label="Previous">&ndash;&gt;-->
<!--&lt;!&ndash;          <span aria-hidden="true">&laquo;</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--      </li>-->
      <li (click)="getAllPersonas(1)"class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
      <li (click)="getAllPersonas(2)" class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
      <li (click)="getAllPersonas(3)" class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
      <li (click)="getAllPersonas(4)" class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
      <li (click)="getAllPersonas(5)" class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
      <li (click)="getAllPersonas(6)" class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
      <li (click)="getAllPersonas(7)" class="page-item"><a class="page-link" href="javascript:void(0)">7</a></li>
      <li (click)="getAllPersonas(8)"class="page-item"><a class="page-link" href="javascript:void(0)">8</a></li>
      <li (click)="getAllPersonas(9)"class="page-item"><a class="page-link" href="javascript:void(0)">9</a></li>
<!--      <li class="page-item">-->
<!--        <a class="page-link" href="#" aria-label="Next">-->
<!--          <span aria-hidden="true">&raquo;</span>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </nav>
</div>




