<h3 style="position:absolute; top: 30px; left:20px;">
    <a (click)="back()" style="cursor: pointer">
        <i class="fas fa-angle-left fa-1x"></i>
        <i class="fas fa-user-alt-slash "></i>
        <label><span>&nbsp;Personas</span></label>
    </a>
</h3>
<div *ngIf="!errorApi"  style="left:20px;" class="classGridgeneral">
    <ag-grid-angular style="width: 1500px; height: 380px;" class="ag-theme-balham" [rowData]="(rowData?.results)" [columnDefs]="columnDefs" rowSelection="multiple" [pagination]="true" [defaultColDef]="defaultColDef">
    </ag-grid-angular>
</div>



