/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.classGridgeneral {
    position: absolute;
    top: 40px;
    /* left: 20px; */
    margin-top: 50px;
}